<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="strConnUsuarios" connectionString="Data Source=10.0.7.160;Initial Catalog=siges;Persist Security Info=True;User ID=user_g;Password=megamind@3554" providerName="System.Data.SqlClient"/>
    <add name="strConn" connectionString="Data Source=10.0.7.105;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient"/>
    <add name="StrLibreriasPropiasUTE" connectionString="Data Source=10.0.7.105;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient"/>
    <add name="strConnUsuarios_" connectionString="Data Source=10.0.7.105;Initial Catalog=UTEDYC;Persist Security Info=True;User ID=user_g;Password=megamind@3554" providerName="System.Data.SqlClient"/>
    <add name="strConn_" connectionString="Data Source=200.69.255.8;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>