<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="strConn" connectionString="Data Source=200.69.255.8;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrLibreriasPropiasUTE" connectionString="Data Source=10.0.7.105;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrLibreriasPropiasOSPE" connectionString="Data Source=200.69.255.7;Initial Catalog=Ospedycweb;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrLibreriasEnlatadoSindical" connectionString="Data Source=190.210.182.79;Initial Catalog=Sindical;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnOspe" connectionString="Data Source=10.0.7.104;Initial Catalog=Ospedycweb;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnTesoreria" connectionString="Data Source=10.0.7.107;Initial Catalog=Utedyc_Clone;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnSecretariaAdministrativa" connectionString="Data Source=10.0.7.107;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrUtedyc2.0" connectionString="Data Source=10.0.7.160;Initial Catalog=SIGES;Persist Security Info=True;User ID=User_G;Password=megamind@3554" providerName="System.Data.SqlClient" />
    <add name="strConnTurismo" connectionString="Data Source=10.0.7.107;Initial Catalog=Utedyc_Turismo;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="strConnUsuariosa" connectionString="Data Source=10.0.7.105;Initial Catalog=Compras;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnUsuarios" connectionString="Data Source=10.0.7.160;Initial Catalog=SIGES;Persist Security Info=True;User ID=user_g;Password=megamind@3554" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>-->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory"
           verb="*" path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>