/*body {
}

div {
}*/

#DivFormulario {
    position: relative;
    width: 98%;
    height: 630px;
    margin-left: auto;
    margin-right: auto;
}

#DivEncabezado {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    text-align: left;
    padding-left: 50px;
    line-height: 60px;
    background-color: rgba(92, 79, 60, 0.2);
}

#DivLateralIzquierdo {
    position: absolute;
    border-radius: 10px;
    top: 12%;
    width: 20%;
    height: 76%;
    background-color: rgba(92, 79, 60, 0.2);
}

#DivContenido {
    position: absolute;
    border-radius: 10px;
    top: 12%;
    left: 21%;
    width: 79%;
    height: 76%;
    background-color: rgba(92, 79, 60, 0.2);
}

#DivLateralEncabezado {
    position: relative;
    width: 95%;
    height: 10%;
    padding-top: 10px;
    margin: 5px auto;
}

#DivLateralContenido {
    position: relative;
    width: 95%;
    height: 78%;
    margin: 5px auto;
    border-radius: 10px;
    background-color: rgba(92, 79, 60, 0.2);
}

#DivLateralPie {
    position: relative;
    width: 95%;
    height: 10%;
    margin: 5px auto;
}

#DivContenidoSuperior {
    position: relative;
    width: 98%;
    height: 25%;
    margin: 5px auto;
    padding-left: 5px;
    padding-top: 15px;
    border-radius: 10px;
    background-color: rgba(92, 79, 60, 0.2);
}

#DivContenidoMedio {
    position: relative;
    width: 98%;
    height: 63%;
    margin: 5px auto;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: rgba(92, 79, 60, 0.2);
}

#DivContenidoInferior {
    position: relative;
    width: 95%;
    height: 10%;
    margin: 5px auto;
}

#spanEncabezado {
    font-size: 35px;
    color: black;
    text-shadow: 5px 3px 5px #404985;
}

.EtiquetaIngresoDatos {
    color: #0066FF;
    font-family: arial;
    font-size: 18px;
}

#DivContenidoSuperiorIzquierda {
    position: absolute;
    width: 65%;
}

#DivContenidoSuperiorMedio {
    position: absolute;
    left: 67%;
    width: 15%;
}

#DivContenidoSuperiorDerecha {
    position: absolute;
    left: 90%;
    width: 10%;
}

#spanLateralContenido {
    font-size: 25px;
    color: black;
    text-shadow: 5px 3px 5px #404985;
    line-height: 50px;
}

.spanContenidoCabecera {
    font-size: 20px;
    color: black;
    text-shadow: 5px 3px 5px #404985;
    line-height: 40px;
}

.spanPopUpCabecera {
    font-size: 30px;
    color: black;
    text-shadow: 5px 3px 5px #404985;
    line-height: 40px;
}

.separadorRow30 {
    height: 30px;
}

.separadorRow35 {
    height: 35px;
}

.separadorRow40 {
    height: 40px;
}

.separadorRow50 {
    height: 50px;
}


/* Base for label styling */
/*[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 31px;
        cursor: pointer;
        margin-bottom: 3px;
        display: inline-block;
        font-size: 15px;
    }*/
/* checkbox aspect */
/*[type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 18px;
            height: 18px;
            border: 2px solid #cccccc;
            background: #ffffff;
            border-radius: 4px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
        }*/
/* checked mark aspect */
/*[type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            content: '✔';
            position: absolute;
            top: 0px;
            left: 5px;
            font-size: 15px;
            line-height: 1.2;
            color: #2845b9;
            transition: all .2s;
        }*/
/* checked mark aspect changes */
/*[type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            transform: scale(1);
        }*/
/* disabled checkbox */
/*[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #999999;
    background-color: #dddddd;
}*/
/*[type="checkbox"]:disabled:checked + label:after {
    color: #999999;
}

[type="checkbox"]:disabled + label {
    color: #aaaaaa;
}*/
/* accessibility */
/*[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted #0000ff;
}*/
/* hover style just for information */
/*label:hover:before {
    border: 2px solid #4778d9 !important;
    background: #ffffff;
}*/
/*.EtiquetaIngresoDatosUsuario {
    color: #0066FF;
    font-family: arial;
    font-size: 16px;
    text-align:right;
}

.spanTab {
    font-size: 15px;
    color: black;
    text-shadow: 5px 3px 5px #404985;
    line-height: 20px;
}*/
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95%;
}

    #sortable li {
        margin: 3px 3px 3px 3px;
        padding: 0.5em;
        padding-left: 1.5em;
        /*font-size: 1em;*/
        height: 35px;
    }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

.UL_Seleccionable {
    list-style-type: none;
    margin-bottom: 5px;
}

.LI_Seleccionable {
    list-style-type: none;
    margin-left: 55px;
    margin-bottom: 5px;
}


