<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="strConn" connectionString="Data Source=200.69.255.8;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrLibreriasPropiasUTE" connectionString="Data Source=10.0.7.105;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrLibreriasPropiasOSPE" connectionString="Data Source=200.69.255.7;Initial Catalog=Ospedycweb;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrLibreriasEnlatadoSindical" connectionString="Data Source=190.210.182.79;Initial Catalog=Sindical;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnOspe" connectionString="Data Source=10.0.7.104;Initial Catalog=Ospedycweb;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnTesoreria" connectionString="Data Source=10.0.7.107;Initial Catalog=Utedyc_Clone;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="strConnSecretariaAdministrativa" connectionString="Data Source=10.0.7.107;Initial Catalog=Utedyc;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="StrUtedyc2.0" connectionString="Data Source=10.0.7.160;Initial Catalog=SIGES;Persist Security Info=True;User ID=User_G;Password=megamind@3554" providerName="System.Data.SqlClient" />
    <add name="strConnTurismo" connectionString="Data Source=10.0.7.107;Initial Catalog=Utedyc_Turismo;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="strConnUsuarios" connectionString="Data Source=10.0.7.105;Initial Catalog=Compras;Persist Security Info=True;User ID=sa;Password=FAYSER" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>